html {
    height: 100%;
}

.container-conteudo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.container-conteudo h2 {
    margin: 20px 10px;
    align-self: center;
    color: white;
}

table {
    margin-top: 10px;
    background-color: white;
    border-collapse: collapse;
    width: 40%;
}

tr, td, th {
    border: 1px ridge lightgray;
    padding: 10px;
}

tr td:hover{
    background-color: lightgray;
}

.tabela-aluno-id{
    text-align: center;
}


@media (max-width: 1400px) {
    table {
        width: 60%;
    }
}

@media (max-width: 900px) {
    table {
        width: 80%;
    }
}
