html {
    height: 100%;
}
.container-conteudo {
    display: flex;
    flex-flow: column wrap;
    /*background-color: #660066;*/
    margin: 5px;
    border-radius: 5px;
}

.container-conteudo h2 {
    color: white;
    align-self: center;
    padding: 20px;
}

.container-formulario {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    width: 50%;
}

.container-formulario h3 {
    color: white;
    padding-bottom: 10px;
    align-self: flex-start;
}

.container-formulario input {
    background-color: white;
    color: black;
    border: 3px solid white;
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.container-formulario textarea {
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.botao {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 16px;
    color: white;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 2px rgb(71, 65, 65);
}

.botao:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.importar {
    background: #8080ff;
    font-size: 16px;
    font-weight: bold;
}

.centro {
    align-self: center;
    margin: 20px;
    background-color: lightseagreen;
}

.esquerda {
    align-self: flex-start;
    margin: 10px 0px;
}

@media (max-width: 940px) {
    .container-formulario textarea {
        width: 100%;
    }
}
