<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tarefa</title>
    <link rel="stylesheet" href="{% static 'css/template-base.css' %}">
    <link rel="stylesheet" href="{% static 'css/tarefa-detalhada.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="menu-superior">
        <a href="{% url 'home' %}" class="item-menu-superior fundo-vermelho">Tarefas</a>
        <a href="{% url 'listar_alunos' %}" class="item-menu-superior fundo-vermelho">Alunos</a>
    </nav>
    <div class="container-conteudo">
    	{% if list_tarefa %}
    	{% for t in list_tarefa %}
	        <div class="card">
	            <img src="{% static 'img/ic_tarefa_laranja.jpg' %}" />
	            <div class="card-conteudo">
	                    <h1>{{ t.tarefa }}</h1>
	                    <h3>{{ t.data_entrega }}</h3>
	                    <h3 class="card-descricao">{{ t.descricao }}</h3>
	                    <h3>{{ t.aluno.nome_aluno }}</h3>
	            </div>
	            <div class="area-botoes">
	            	<a href="{% url 'sortear' t.id  %}" class="botao fundo-roxo">Sortear</a>
	                <a href="{% url 'editar_tarefa' t.id %}" class="botao fundo-roxo">Editar</a>
	                <a href="{% url 'excluir_tarefa' t.id %}" class="botao fundo-vermelho">Remover</a>
	            </div>
	        </div>
        {% endfor %}
        {% endif %}
    </div>

</body>

</html>