{% extends 'template_base.html' %}

{% block content %}

<div class="row justify-content-center m-5">
    <h3 class="white-text font-weight-bold">Alunos</h3>
    <div class="table-responsive">
        <table class="table elegant-color mt-3 z-depth-2">
            <thead>
                <tr>
                    <th scope="col" class="th-sm white-text font-weight-bold h6">ID</th>
                    <th scope="col" class="th-sm white-text font-weight-bold h6">NOME</th>
                    <th scope="col" class="th-sm white-text font-weight-bold h6">GRUPO</th>
                </tr>
            </thead>
            <tbody>
                {% if list_aluno %}
                    {% for aluno in list_aluno %}
                        <tr>
                            <td class="white-text h6">{{ aluno.id }}</td>
                            <td class="white-text h6">{{ aluno.nome_aluno }}</td>
                            <td class="white-text h6">{{ aluno.grupo.id }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}             
            </tbody>
        </table>
    </div>
</div>

{% endblock %}